@import url('https://fonts.cdnfonts.com/css/product-sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* CSS HEX */
    --canvas-color: rgb(0, 0, 0);
    --button-color: rgb(23, 23, 23);
    --page-color: rgb(63, 63, 63);
    --text-color: rgb(232, 234, 237)/* #DDD0C8 *//* #FAF5E9 */;
    --navajo-white: rgb(255, 222, 173);
    --atomic-tangerine: rgb(240, 142, 100);
    --ash-gray: rgb(198, 204, 178);
    --background-color: rgb(32, 33, 36);
    --color: rgb(232, 234, 237);
    --border-color: rgba(172, 172, 172, 0.5);
    --light-background: rgb(87, 85, 85);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    min-height: 100vh;
}


.topnav{
    height: 7vh;
    width: 100%;
    background-color: var(--background-color);
    border: var(--border-color) solid 1px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-wrapper{
    border-radius: 10px;
    background-color: var(--light-background);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.search-items{
    background-color: var(--light-background);
    color: var(--text-color);
}

.search-box{
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1.2rem;
    padding-left: 10px;
    font-family: 'Product Sans', sans-serif;

}

.search-box::placeholder{
    color: var(--ash-gray);
}


.search-button{
    background-color: inherit;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.search-image{
    height: 25px;
    width: 25px;
    fill: white;
}
 
.button-item:hover{
    background-color: #414141b9;
    border-radius: 50%;
}

.button-item:hover > .search-image{
    background-color: #414141b9;
    border-radius: 50%;
}


.body{
    width: 100%;
    flex-grow: 1;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: auto;
}


.card-body-container{
    border: solid red 2px;
    width: 100% - 40px;
    height: 100%;
    flex-grow: 1;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.card-section{
    border: solid red 2px;
    width: 100%-40px;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.card{
    border: solid red 2px;
    width: 240px;
    height: 105px;
    border-radius: 20px;
    margin: 20px;
}

.bottombar{
    place-items: end center;
    height: 3vh;
    width: 100%;
    background-color: var(--background-color);
    border: var(--border-color)  solid 2px;
    border-radius: 0px 0px 10px 10px;
}