@import url('https://fonts.cdnfonts.com/css/product-sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* CSS HEX */
    --canvas-color: #000000ff;
    --button-color: #171717ff;
    --page-color: #3f3f3fff;
    --text-color: #DDD0C8/* #FAF5E9 */;
    --navajo-white: #ffdeadff;
    --atomic-tangerine: #f08e64ff;
    --ash-gray: #c6ccb2ff;
    --background-color: #202124;
    --color: #e8eaed;
    --border-color: #acacac;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    min-height: 100vh;
}


.topnav{
    height: 6vh;
    width: 100%;
    background-color: var(--background-color);
    border: var(--border-color) solid 2px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-wrapper{
    border-radius: 10px;
    background-color: rgb(87, 85, 85);
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.search-items{
    background-color: rgb(87, 85, 85);
    color: var(--text-color);
}

.search-box{
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1.2rem;
    padding-left: 10px;
    font-family: 'Product Sans', sans-serif;
}


.search-button{
    background-color: inherit;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
}

.search-image{
    height: 25px;
    width: 25px;
    fill: white;
}
 
.button-item:hover{
    background-color: #414141b9;
    border-radius: 50%;
}

.button-item:hover > .search-image{
    background-color: #414141b9;
    border-radius: 50%;
}


.body{
    width: 100%;
    flex-grow: 1;
    background-color: var(--background-color);

}

.bottombar{
    place-items: end center;
    height: 3vh;
    width: 100%;
    background-color: var(--background-color);
    border: var(--border-color) solid 2px;
    border-radius: 0px 0px 10px 10px;
}